* {
  padding: 0;
  margin: 0;
}

.menu {
  width: 100%;
  height: 15dvh;
  background-color: rgb(10, 45, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.menu > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.name {
  font-size: 32px;
  color: white;
}

.system {
  color: rgba(255, 255, 255, 50%);
  font-size: 20px;
}

.letterBig {
  font-size: 48px;
  color: red;
  text-shadow: 2px 2px 4px white;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}

.tel {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.page1 {
  width: 100%;
  height: 85dvh;
  background-image: url(Header.jpg);
  background-size: cover;
  background-position: center;
}

.mainInfo {
  color: white;
  font-size: 42px;
}

.bigletters {
  font-weight: bold;
}

.description {
  color: white;
  font-size: 24px;
}

.info-block {
  width: 40%;
  height: 50%;
  position: relative;
  left: 12%;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  width: 40%;
  height: 15%;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(10, 45, 74);
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 10px 20px rgb(10, 45, 74);
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    box-shadow: none;
  }
}

.btn-click {
  width: 40%;
  height: 15%;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(10, 45, 74);
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 10px 20px rgb(10, 45, 74);
  margin-left: 45%;
  margin-top: -12.2%;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    box-shadow: none;
  }
}

.protection-options {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgb(3, 0, 9);
  color: white;
  font-family: "Calibri";
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.title-container > h2 {
  font-size: 36px;
}

.title-container > h3 {
  color: grey;
  font-weight: 400;
  font-size: 20px;
}

.containers {
  width: 90%;
  height: 62.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 31%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container > h2 {
  font-size: 20px;
  font-weight: 600;
}

.block {
  width: 100%;
  height: 65%;
  background: #001f38;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.second {
  height: 70%;
}

.third {
  height: 77.5%;
}

.stars {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.block-point {
  font-size: 20px;
  margin: 17.5px;
  font-weight: 300;
  text-align: center;
  list-style-type: none;
}

.block > h3 {
  font-size: 22px;
  font-weight: 300;
}

.block > h3 > span {
  color: steelblue;
  font-weight: 700;
  font-size: 27px;
  margin: 0px 3px 0px 3px;
}

.btn-container {
  padding: 20px;
  position: relative;
  bottom: 5%;
  background: rgb(3, 0, 9);
  border-radius: 50px;
}

.btn-install {
  background: #1980e6;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 35px 15px 35px;
  transition: 0.4s;
  box-shadow: 0px 0px 20px #1980e6;
  position: relative;
  &:hover {
    cursor: pointer;
    border: 2px solid #1980e6;
    background: rgb(3, 0, 9);
  }
}
